@charset "utf-8";

/* -----------------------
mixin
----------------------- */
//マップ型変数breakpointsを定義
$breakpoints: (
  //キー　　値
  "sp": "screen and (max-width: 767px)",
  //767px以下（スマホ）用の表示
  "pc": "screen and (min-width: 768px)" //768px以上（タブレット・PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はpc
@mixin mq($breakpoint: pc) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

/* -----------------------
color
----------------------- */
$primary-color: #c92b23;
$main-color: #970e0b;
$font-color: #fff;

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}
p {
  margin: 0;
}

// セクションタイトル
.ky_section-title {
  width: 335px;
  margin: 0 auto;

  @include mq('sp') {
    width: 225px;
  }
}

.ky_title-description {
  font-size: 24px;
  margin-top: 15px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.13em;
}

.ky_inner {
  max-width: 1300px;
  margin: 0 auto;

  @include mq('sp') {
    padding: 0 24px;
  }
}

/* -----------------------
kanya_join
----------------------- */
.ky_join {
  background: $primary-color;
  padding: 150px 0 130px;
  color: $main-color;

  
  .ky_inner {
    max-width: 960px;
  }

  .ky_section-title {
    width: 700px;

    @include mq('sp') {
      width: 320px;
    }
  }

  @include mq('sp') {
    padding: 25vw 0 20vw;
  }
} 

.ky_join-image {
  margin-top: 15px;
}

.ky_join-list {
  display: flex;
  justify-content:space-between;
  margin-top: 48px;
  margin-bottom: 35px;
  max-width: 1400px;
  margin: auto;

  @include mq('sp') {
    display: block;
    width: 90%;
    margin:auto;
  }
}

.ky_join-item {
  width: 32%;
  @include mq('sp') {
    width: 100%;
  }
  // margin-right: 2%;
  background: $main-color;
  padding: 42px 10px 43px 10px;
  color: $font-color;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.05;
  h4 {
    font-size: 1.7rem;
    letter-spacing: 0.1em;
  }

  @include mq('sp') {
    margin-right: 0;
    padding: 7vw 0 10vw;
    p {
      font-size: 1.5rem !important;
    }
    &+.ky_join-item {
      margin-top: 5vw;
    }
  }
}

.ky_join-item-image {
  width: 50%; 
  height: auto;
  margin: 0 auto;
  // margin-bottom: 40px;

  @include mq('sp') {
    margin-bottom: 0px;
  }
}

// .ky_join-item:nth-child(2) {
//   .ky_join-item-image {
//     width: 48px;
//   }
// }

.ky_join-item-title {
  font-weight: 600;
  margin-bottom: 48px;

}

.ky_join-item:nth-child(3) {
  .ky_join-item-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
}

.ky_join-announce {
  text-align: center;
  color: #f9f4f4;
  margin-top: 20px;
  font-size: 1.3rem;
}

.ky_join-terms {
  background: #fde9d9;
  color: #970e0b ;
  padding: 60px 73px 0;
  max-width: 978px;
  margin: 0 auto;
  margin-top: 85px;
  line-height: 1.5;

  @include mq('sp') {
    width: 90%;
    padding: 10vw;
    padding-bottom: 5vw;
    margin-top: 15vw;
  }

  .ky_join-announce {
    color: #970e0b;
  }

}

.ky_join-terms-list {
}

.ky_join-terms-item {
  border-bottom: 1px dashed #851815;
  padding: 38px 0;

  @include mq('sp') {
    padding: 5vw 0;
  }

  &:last-child {
    border-bottom: none;
  }



}

.ky_join-terms-title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 32px;
  @include mq('sp') {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.ky_join-terms-rule {
  font-weight: 600;
  font-size: 1.8rem;
  @include mq('sp') {
    font-size: 1.5rem;
  }
}

.ky_join-terms-rule-detail {
  a {
    color: #851815;
  }
}

/* -----------------------
kanya_notes
----------------------- */
.ky_notes {
  background: $primary-color !important;
  @media screen and (max-width:768px){
    padding: 15vw 5vw 20vw !important;
  }
}

.ky_sec-header {
  text-align: center;

  h3 {
    color: #fff !important;
    @media screen and (max-width:768px){
      margin-bottom: 5vw !important;
    }
  }
}

.ky_notes-item {
  background: #970e0b !important;
}


/* -----------------------
kanya_movies
----------------------- */
.ky_movies {
  background: $primary-color;
}

.ky_movies-inner {
  padding: 100px 0 110px 0;

  @include mq('sp') {
    padding:20vw 5vw 15vw;
  }
}

.ky_movies-list {
  display: flex;
  justify-content: center;
  position: relative;
  &::after {
    content: "";
    // background: url(/assets/img/movies_img_03_pc.png) no-repeat top left / cover;
    width: 430px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @include mq('sp') {
    display: block;

  }
}

.ky_movies-item {
  margin-right: 5%;
  flex: 0 0 39%;
  @include mq('sp') {
    flex: 0 0 0%;
    display: block;
  }

  &:last-child {
    margin-right: 0;
  }

  @include mq('sp') {
    margin-right: auto !important;
    margin-bottom: 10vw;
    width: 90%;
    margin: auto;
    margin-bottom: 10vw;
  }
}

.ky_movies-item-text {
  margin-top: 110px;
  color: $font-color;
  @include mq('sp') {
    margin-top: 15vw;
  }
}

/* -----------------------
ドロワーのcssの付け足し
----------------------- */
.navigation .global-nav {
  width: 447px;
  background: #000;
}

.navigation .nav-toggle-wrap .circle {
  background: #000;
  top: 0;
  right: 0;
  left: auto;
  transform: translate(0,0);
}
