.header-container {
  position: relative;
}

.header-container_logo {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 80px;
  width: 13%;
  max-width: 47px;
}

.pc-nav-list {
  display: none;
}

.sp-header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.sp-header-nav_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sp-header-nav_box_ham {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  display: block;
  width: 65px;
  height: 65px;
  background-color: #FCEE00;
  z-index: 20;
}

.sp-header-nav_box_ham_line {
  content: "";
  background-color: #737475;
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.line-1 {
  top: 20px;
  right: 15px;
}

.line-2 {
  top: 30px;
  right: 15px;
}

.line-3 {
  top: 40px;
  right: 15px;
}

.clicked {
  background-color: transparent;
}

.clicked .line-1 {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  top: 30px;
  background-color: black;
}

.clicked .line-2 {
  opacity: 0;
}

.clicked .line-3 {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
  top: 30px;
  background-color: black;
}

.sp-nav_nav-list {
  position: fixed;
  width: 100%;
  top: -1000px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: scroll;
  height: 100%;
}

.sp-nav_nav-list_box {
  list-style: none;
  text-align: center;
  height: 100%;
  background: #d9d9d9;
  padding: 22% 0% 20% 0%;
}

.sp-nav_nav-list_box_list {
  margin: 0% 0 7% 0;
  width: 100%;
}

.sp-nav_nav-list_box_list span {
  display: block;
  font-style: italic;
  font-weight: 300;
  color: #595a5a;
  padding-top: 5%;
}

.sp-nav_nav-list_box_list a {
  color: #595A5A;
  font-weight: 800;
  z-index: 3;
}

.nav-opned {
  top: 0px;
}

.bg-color {
  background: rgba(0, 0, 0, 0.15);
  background: #d9d9d9;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

@media (min-width: 767px) {
  .header-container_logo {
    right: 40px;
    top: 80px;
    width: 92px;
    width: 7%;
    max-width: 100%;
  }
  .sp-nav_nav-list {
    display: none;
  }
  .sp-header-nav_box_ham {
    display: none;
  }
  .sp-header-nav_box {
    padding: 10px 40px;
  }
  .pc-nav-list {
    display: block;
  }
  .pc-nav-list_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-top: 27px;
  }
  .pc-nav-list_box_list {
    margin-left: 35px;
    position: relative;
  }
  .pc-nav-list_box_list a {
    color: white;
    text-shadow: 1px 0 0 #737475,0 1px 0 #737475,-1px 0 0 #737475,0 -1px 0 #737475;
    font-size: 16px;
  }
}

.kv-box {
  position: relative;
}

.kv-box_img-box {
  width: 100%;
}

.kv-box_img-box_sp {
  width: 100%;
}

.kv-box_img-box_pc {
  display: none;
}

.kv-box_heading-box {
  color: white;
  position: absolute;
  top: 66%;
  left: 6.6%;
}

.kv-box_heading-box_name {
  text-shadow: 1px 0 0 #737475,0 1px 0 #737475,-1px 0 0 #737475,0 -1px 0 #737475;
  font-weight: 800;
  padding-bottom: 1%;
  letter-spacing: 0.03em;
}

.kv-box_heading-box_text {
  text-shadow: 1px 0 0 #737475,0 1px 0 #737475,-1px 0 0 #737475,0 -1px 0 #737475;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.03em;
}

.kv-box_heading-box_heading {
  text-shadow: 2px 0 0 #737475,0 2px 0 #737475,-2px 0 0 #737475,0 -2px 0 #737475;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.kv-box_fv-btn {
  position: absolute;
  top: 83%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10%;
}

.kv-box_tag {
  padding: 4.8% 0  4.8% 6.6%;
  background-color: #FCEE00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kv-box_tag_text {
  color: #1979BF;
  text-shadow: 1px 0 0 white,0 1px 0 white,-1px 0 0 white,0 -1px 0 white;
}

.kv-box_tag_img {
  width: 25%;
}

@media (min-width: 767px) {
  .kv-box_img-box {
    width: 100%;
  }
  .kv-box_img-box_sp {
    display: none;
  }
  .kv-box_img-box_pc {
    display: block;
    width: 100%;
  }
  .kv-box_heading-box {
    top: 55%;
    left: 30px;
  }
  .kv-box_heading-box_name {
    padding-bottom: 1%;
  }
  .kv-box_heading-box_text {
    letter-spacing: 0.03em;
  }
  .kv-box_fv-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 4%;
    max-width: 62px;
  }
  .kv-box_tag {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0  10px 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kv-box_tag_img {
    width: 10%;
    max-width: 125px;
  }
  .kv-box_tag_img img {
    width: 100%;
  }
}

.about-box {
  text-align: center;
  padding: 20% 7%;
}

.about-box_text-box {
  border: 3vw solid #FCEE00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding: 8% 4%;
}

.about-box_text-box_heading {
  color: #1979BF;
}

.about-box_text-box_h-sub {
  color: #1979BF;
  line-height: 3.5;
  padding-bottom: 2%;
}

.about-box_text-box_text {
  line-height: 2.2;
}

@media (min-width: 767px) {
  .about-box {
    padding: 8% 10%;
    position: relative;
    margin-bottom: 3.5%;
  }
  .about-box_text-box {
    max-width: 1048px;
    margin: 0 auto;
    border: 20px solid #FCEE00;
    padding: 7% 5%;
    position: relative;
  }
  .about-box_text-box::after {
    content: "";
    background-image: url(/asset/img/manhall01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    max-width: 165px;
    max-height: 165px;
    position: absolute;
    top: -11%;
    left: -15%;
  }
  .about-box_text-box::before {
    content: "";
    background-image: url(/asset/img/manhall02-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 100%;
    max-width: 215px;
    max-height: 198px;
    position: absolute;
    bottom: -30%;
    right: -15%;
  }
  .about-box_text-box_h-sub {
    line-height: 2.8;
    padding-bottom: 4%;
  }
  .about-box_text-box_text {
    line-height: 2.2;
  }
}

.mission-box {
  position: relative;
  padding-bottom: 10%;
  margin-bottom: 10%;
}

.mission-box::before {
  content: "";
  background-image: url(/asset/img/mission_bg_img_sp.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
}

.mission-box_heading {
  line-height: 1;
  text-align: center;
  color: #1979BF;
}

.mission-box_h-sub {
  line-height: 4.5;
  text-align: center;
  color: #1979BF;
  padding-bottom: 5%;
}

.mission-box_y-text {
  background: #FCEE00;
  border-radius: 0px 30px 30px 0px;
  text-align: center;
  color: #1979BF;
  letter-spacing: 0.1em;
  line-height: 2.5;
  padding: 2% 0;
}

.mission-box_y-text1 {
  width: 83%;
  line-height: 2.5;
  margin-bottom: 10%;
}

.mission-box_y-text2 {
  width: 69%;
  line-height: 2.5;
  margin-bottom: 22%;
}

.mission-box_text-box {
  background: #FFFFFF;
  border-radius: 30px;
  margin-left: 7%;
  width: 74%;
  padding: 16% 5% 16% 3px;
  position: relative;
}

.mission-box_text-box_text {
  letter-spacing: 0.03em;
  line-height: 2;
}

@media (min-width: 767px) {
  .mission-box {
    padding-bottom: 13%;
    margin-bottom: 13%;
  }
  .mission-box::before {
    content: "";
    background-image: url(/asset/img/mission_bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 97%;
  }
  .mission-box::after {
    content: "";
    background-image: url(/asset/img/manhall03-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 1%;
    left: 2.4%;
    width: 15%;
    max-width: 216px;
    height: 17vw;
    max-height: 244px;
    z-index: 10;
  }
  .mission-box_heading {
    text-align: left;
    padding-left: 7%;
  }
  .mission-box_h-sub {
    line-height: 2.8;
    text-align: left;
    padding-bottom: 2.9%;
    padding-left: 13.3%;
  }
  .mission-box_y-text {
    padding: 4% 0;
  }
  .mission-box_y-text1 {
    width: 47%;
    line-height: 1.2;
    margin-bottom: 2.7%;
    max-width: 684px;
  }
  .mission-box_y-text2 {
    width: 36%;
    line-height: 1.2;
    margin-bottom: 4%;
    max-width: 530px;
  }
  .mission-box_text-box {
    margin-left: 0%;
    width: 74%;
    padding: 9.7%  8.5%  9.7% 13%;
  }
  .mission-box_text-box_text {
    line-height: 2.2;
  }
}

.prizes-box {
  margin-bottom: 10%;
}

.prizes-box_heading {
  line-height: 1;
  text-align: center;
  color: #1979BF;
}

.prizes-box_h-sub {
  line-height: 4.5;
  text-align: center;
  color: #1979BF;
  padding-bottom: 5%;
}

.prizes-box_contents-box {
  padding: 0 7.5%;
  margin-top: 20%;
}

.prizes-box_contents-box_contents {
  background: #FCEE00;
  border-radius: 30px;
  padding: 8% 4%;
  position: relative;
  text-align: center;
  margin-bottom: 25%;
}

.prizes-box_contents-box_contents_inner {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 10% 0;
  position: relative;
  z-index: 3;
}

.prizes-box_contents-box_contents_icon {
  position: absolute;
  top: -1%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FCEE00;
  border-radius: 100%;
  padding: 5%;
  z-index: 2;
  width: 21%;
}

.prizes-box_contents-box_contents_detail {
  letter-spacing: 0.25em;
  line-height: 1.5;
  padding-bottom: 8%;
}

.prizes-box_contents-box_contents_heading {
  display: inline-block;
  letter-spacing: 0.1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(30%, rgba(252, 238, 0, 0.2)));
  background: linear-gradient(transparent 70%, rgba(252, 238, 0, 0.2) 30%);
  margin-bottom: 8%;
}

.prizes-box_contents-box_contents_heading2 {
  letter-spacing: 0.1em;
  margin-bottom: 8%;
}

.prizes-box_contents-box_contents_img {
  width: 50%;
  margin: 0 auto 10% auto;
}

.prizes-box_contents-box_contents_rank {
  list-style: none;
  margin-bottom: 4%;
}

.prizes-box_contents-box_contents_rank li {
  line-height: 1.8;
  letter-spacing: 00.1em;
}

.prizes-box_contents-box_contents_text {
  letter-spacing: 0.25em;
  line-height: 1.7;
  font-weight: 400;
}

.text-underline {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, rgba(252, 238, 0, 0.2)));
  background: linear-gradient(transparent 50%, rgba(252, 238, 0, 0.2) 50%);
}

@media (min-width: 767px) {
  .prizes-box {
    margin-bottom: 7.5%;
  }
  .prizes-box_h-sub {
    line-height: 2.8;
    padding-bottom: 10%;
  }
  .prizes-box_contents-box {
    padding: 0 14%;
    width: 100%;
    margin-top: 0%;
  }
  .prizes-box_contents-box_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .prizes-box_contents-box_flex_contents {
    width: 47%;
  }
  .prizes-box_contents-box_contents {
    max-width: 1016px;
    margin: 0 auto 13% auto;
    padding: 4% 3%;
  }
  .prizes-box_contents-box_contents_inner {
    padding: 4% 2%;
  }
  .prizes-box_contents-box_contents_icon {
    padding: 4%;
    width: 21%;
    max-width: 140px;
    max-height: 140px;
  }
  .prizes-box_contents-box_contents_icon img {
    width: 100%;
    max-width: 77px;
    max-height: 77px;
    margin: 0 auto;
  }
  .prizes-box_contents-box_contents_detail {
    line-height: 1.8;
    padding-bottom: 2.5%;
  }
  .prizes-box_contents-box_contents_heading {
    margin-bottom: 7%;
  }
  .prizes-box_contents-box_contents_heading2 {
    margin-bottom: 7%;
  }
  .prizes-box_contents-box_contents_img {
    width: 27%;
    max-width: 259px;
    margin: 0 auto 6% auto;
  }
  .prizes-box_contents-box_contents_rank {
    margin-bottom: 6%;
  }
  .prizes-box_contents-box_contents_text {
    line-height: 1.4;
  }
  .text-underline {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, rgba(252, 238, 0, 0.2)));
    background: linear-gradient(transparent 50%, rgba(252, 238, 0, 0.2) 50%);
  }
}

.join-box {
  margin-bottom: 10%;
}

.join-box_heading {
  line-height: 1;
  text-align: center;
  color: #1979BF;
}

.join-box_h-sub {
  line-height: 4.5;
  text-align: center;
  color: #1979BF;
  padding-bottom: 5%;
}

.join-box_contents-box {
  margin: 0 6.6%;
  list-style: none;
}

.join-box_contents-box_contents {
  margin-bottom: 16%;
}

.join-box_contents-box_contents_step {
  color: #8F9091;
}

.join-box_contents-box_contents_step_number {
  line-height: 1;
}

.join-box_contents-box_contents_img {
  width: 32%;
  margin: 0 auto 11% auto;
}

.join-box_contents-box_contents_img img {
  margin: 0 auto;
}

.join-box_contents-box_contents_text-box {
  text-align: center;
  border: 3.2vw solid #FCEE00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding: 6% 0;
}

.join-box_contents-box_contents_text-box_heading {
  line-height: 2;
  color: #1979BF;
  padding-bottom: 4%;
}

.join-box_contents-box_contents_text-box_text {
  line-height: 2;
  color: #1979BF;
}

@media (min-width: 767px) {
  .join-box {
    margin-bottom: 13%;
    position: relative;
  }
  .join-box::before {
    content: "";
    background-image: url(/asset/img/manhall05.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -20%;
    right: 5%;
    width: 9%;
    height: 9vw;
    max-width: 133px;
    max-height: 133px;
  }
  .join-box_h-sub {
    line-height: 2.8;
    padding-bottom: 5%;
  }
  .join-box_contents-box {
    max-width: 1340px;
    margin: 0 auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3%;
  }
  .join-box_contents-box_contents {
    margin-bottom: 0%;
    width: 31%;
  }
  .join-box_contents-box_contents_img {
    width: 28%;
    margin: 0 auto 11% auto;
  }
  .join-box_contents-box_contents_text-box {
    border: 12px solid #FCEE00;
  }
}

.rules-box {
  margin-bottom: 10%;
  background-color: #1979BF;
  color: white;
  padding: 13% 0 24% 0;
}

.rules-box_heading {
  line-height: 1;
  text-align: center;
}

.rules-box_h-sub {
  line-height: 4.5;
  text-align: center;
  padding-bottom: 5%;
}

.rules-box_text-box {
  margin: 0 8%;
}

.rules-box_text-box_heading {
  line-height: 1.5;
}

.rules-box_text-box_text {
  line-height: 2;
}

.rules-box_text-box_pc-text {
  display: none;
}

.rules-box_text-box_sp-link {
  background-color: white;
  width: 57%;
  margin: 8% auto 0 auto;
  text-align: center;
  border-radius: 1000px;
  cursor: pointer;
}

.rules-box_text-box_sp-link p {
  display: block;
  color: #1979BF;
  line-height: 3.2;
}

.js-open {
  display: block;
}

@media (min-width: 767px) {
  .rules-box {
    margin-bottom: 13%;
    padding: 7% 2% 7% 2%;
  }
  .rules-box_h-sub {
    line-height: 2.8;
  }
  .rules-box_text-box {
    max-width: 770px;
    margin: 0 auto;
  }
  .rules-box_text-box_pc-text {
    display: block;
  }
  .rules-box_text-box_sp-link {
    display: none;
  }
}

.what-box {
  margin: 21% 6.6%;
}

.what-box_text-box_heading {
  line-height: 1;
  margin-bottom: 15%;
  color: #1979BF;
}

.what-box_text-box_heading span {
  line-height: 3.8;
}

.what-box_text-box_img {
  width: 77%;
  margin: 0 auto 10% auto;
}

.what-box_text-box_text {
  line-height: 2;
}

@media (min-width: 767px) {
  .what-box {
    margin: 12.5% 0% 12.5% 12.5%;
    position: relative;
    padding-right: 37%;
  }
  .what-box::before {
    content: "";
    background-image: url(/asset/img/manhall04.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -30%;
    left: -10%;
    width: 7.5%;
    height: 6.58vw;
    max-width: 130px;
    max-height: 130px;
  }
  .what-box_text-box_heading {
    margin-bottom: 3%;
  }
  .what-box_text-box_heading span {
    line-height: 2.5;
  }
  .what-box_text-box_img {
    position: absolute;
    top: -120%;
    right: 2%;
    width: 30%;
    max-width: 437px;
    margin: 0;
  }
  .what-box_text-box_text {
    line-height: 1.2;
  }
}

.story-box {
  background-image: url(/asset/img/story_background_img_sp.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20% 0;
  margin-bottom: 20%;
}

.story-box_text-box {
  background-color: white;
  width: 77%;
  margin: 0 auto;
  padding: 10% 5%;
  text-align: center;
  border-radius: 30px;
}

.story-box_text-box_heading {
  line-height: 1;
  color: #1979BF;
}

.story-box_text-box_h-sub {
  line-height: 4.5;
  color: #1979BF;
  padding-bottom: 5%;
}

.story-box_text-box_text {
  line-height: 2;
}

@media (min-width: 767px) {
  .story-box {
    background-image: url(/asset/img/story_background_img.png);
    padding: 6.7% 0;
    margin-bottom: 12.5%;
  }
  .story-box_text-box {
    width: 70%;
    max-width: 1000px;
    padding: 6%;
  }
  .story-box_text-box_h-sub {
    line-height: 2.8;
    padding-bottom: 5%;
  }
  .story-box_text-box_text {
    line-height: 1.7;
  }
}

.play-box {
  margin-bottom: 21%;
  padding: 0 8%;
}

.play-box_heading {
  line-height: 1;
  text-align: center;
  color: #1979BF;
}

.play-box_h-sub {
  line-height: 4.5;
  text-align: center;
  color: #1979BF;
  padding-bottom: 5%;
}

.play-box_contents-box {
  border: 3.2vw solid #000000;
  border-radius: 30px;
  list-style: none;
}

.play-box_contents-box_list {
  padding: 9%;
  border-bottom: 2px dashed #000000;
  list-style: none;
}

.play-box_contents-box_list:nth-last-child(1) {
  border-bottom: none;
}

.play-box_contents-box_list_heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6%;
}

.play-box_contents-box_list_heading-box_img {
  width: 16%;
  margin-right: 3%;
}

.play-box_contents-box_list_text-box_text {
  line-height: 1.71;
}

@media (min-width: 767px) {
  .play-box {
    padding: 0 3%;
    margin: 0 auto 9.7% auto;
  }
  .play-box_h-sub {
    line-height: 2.8;
    padding-bottom: 5%;
  }
  .play-box_contents-box {
    border: 10px solid #000000;
    max-width: 1000px;
    margin: 0 auto;
  }
  .play-box_contents-box_list {
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .play-box_contents-box_list_heading-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0%;
    width: 34%;
  }
  .play-box_contents-box_list_heading-box_img {
    width: 25%;
    max-width: 84px;
    margin-right: 8%;
  }
  .play-box_contents-box_list_text-box {
    width: 61%;
  }
  .play-box_contents-box_list_text-box_text {
    line-height: 1.43;
  }
}

.cv-box {
  margin-bottom: 20%;
}

.cv-box_heading-box {
  margin-bottom: 17%;
}

.cv-box_heading-box_heading {
  line-height: 1.64;
  color: #1979BF;
  text-align: center;
  background-image: url(/asset/img/cv_background_sp.png);
  background-size: cover;
  background-position: center center;
  padding: 11% 0;
}

.cv-box_link-btn {
  width: 85%;
  margin: 0 auto;
}

.cv-box_link-btn a {
  display: block;
}

.cv-box_link-btn_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00B900;
  border-radius: 1000px;
  padding: 4% 0;
}

.cv-box_link-btn_flex_img {
  margin-right: 14%;
  width: 17%;
  max-width: 64px;
}

.cv-box_link-btn_flex_text {
  color: white;
}

@media (min-width: 767px) {
  .cv-box {
    margin-bottom: 9%;
  }
  .cv-box_heading-box {
    max-width: 1250px;
    margin: 0 auto 7% auto;
    position: relative;
  }
  .cv-box_heading-box_heading {
    line-height: 1.25;
    background-image: url(/asset/img/cv_background.png);
    padding: 4% 0;
  }
  .cv-box_heading-box::before {
    content: "";
    background-image: url(/asset/img/manhall04-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -17%;
    right: 0%;
    width: 12%;
    height: 7.2vw;
    max-width: 130px;
    max-height: 130px;
  }
  .cv-box_link-btn {
    width: 85%;
    margin: 0 auto;
    max-width: 483px;
  }
  .cv-box_link-btn_flex {
    padding: 3% 0;
  }
  .cv-box_link-btn_flex_img {
    margin-right: 14%;
    width: 17%;
    max-width: 64px;
  }
  .cv-box_link-btn_flex_text {
    color: white;
  }
}

.footer-box {
  padding: 5.3%;
  background-color: #FCEE00;
}

.footer-box_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

.footer-box_nav_list-box {
  list-style: none;
}

.footer-box_nav_list-box_list {
  margin-bottom: 12%;
}

.footer-box_nav_list-box_list_text {
  color: black;
}

.footer-box_img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-box_img-box_left {
  margin-right: 15%;
}

.footer-box_copy {
  text-align: center;
}

@media (min-width: 767px) {
  .footer-box {
    padding: 3% 3% 0.5% 3%;
  }
  .footer-box_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0.5%;
  }
  .footer-box_nav_list-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-box_nav_list-box_list {
    margin-bottom: 0%;
    margin-right: 14%;
  }
  .footer-box_nav_list-box_list_text {
    color: black;
    white-space: nowrap;
  }
  .footer-box_img-box_left {
    margin-right: 20%;
  }
  .footer-box_copy {
    text-align: right;
  }
}

.youtube{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.youtube iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /*境界線の打ち消し*/
}

/*# sourceMappingURL=index.css.map */