.loading {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    overflow: hidden;
    &.anim-active {
        height: 0;
        transition: all 0.4s ease;
    }
    .loading_circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        animation: loading 5s ease 0s infinite alternate none running;
        position: absolute;
        top: 50vh;
        left: 50vw;
        margin: -55px 0 0 -55px;
    }
}
@keyframes loading {
    0% {
        border: 10px solid #f6ec00;
    }
  
    50% {
        border: 10px solid #2d1c60;
    }
  
    100% {
        border: 10px solid #f6ec00;
    }
}
.navigation .nav-toggle-wrap {
    opacity: 0;
    &.anim-active {
        opacity: 1;
        transition: all 0.4s ease;
    }
}
.site-header .inner .keyvisual {
    box-shadow: 0 0 0 #f5ec00;
    -webkit-box-shadow: 0 0 0 #f5ec00;
    &.anim-active {
        box-shadow: 33px 33px 0 #f5ec00;
        -webkit-box-shadow: 33px 33px 0 #f5ec00;
        transition: all 0.4s ease;
        @media screen and (max-width:768px) {
            box-shadow: 20px 20px 0 #f5ec00;
        -webkit-box-shadow: 20px 20px 0 #f5ec00;
        }
    }
    .keyvisual_text {
        transform: scale(0.3);
        transform-origin: bottom right;
        opacity: 0;
        &.anim-active {
            transform: scale(1);
            opacity: 1;
            transition: all 0.4s ease;
        }
    }
    .btn-pop {
        opacity: 0;
        &.anim-active {
            opacity: 1;
            transition: all 0.4s ease;
        }
    }
}
.site-header .inner .branding > div .txt > span,
.site-header .inner .branding .site-title,
.site-header .inner .btn-line,
.site-header .inner .copy {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.site-header .inner .branding > div .txt > span {
    display: block;
}
.site-header .nav-scroll {
    animation: rotate 10s linear 0s infinite;
    opacity: 0;
    @media screen and (max-width:768px) {
        right: -20px !important;
    }
    &.anim-active {
        opacity: 1;
        transition: opacity 1s ease;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.main-contents #about header h1 {
    opacity: 0;
    &.anim-active {
        opacity: 1;
        transition: opacity 0.6s ease;
    }
}
.main-contents #about .contents .content.con-01 figure {
    opacity: 0;
    transform: translateX(50px);
    &.anim-active {
        opacity: 1;
        transform: translateX(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #about .contents .content.con-01 .txt .site-title {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #about .contents .content.con-01 .txt p {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #about .contents .content.con-02 > *:nth-child(1) .img-01 {
    opacity: 0;
    transform: translateX(-50px);
    display: block;
    &.anim-active {
        opacity: 1;
        transform: translateX(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #about .contents .content.con-02 > *:nth-child(1) .txt strong,
.main-contents #about .contents .content.con-02 > *:nth-child(1) .txt h2,
.main-contents #about .contents .content.con-02 > *:nth-child(1) .txt p,
.main-contents #about .contents .content.con-02 > *:nth-child(1) .img-02 {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #about .contents .content.con-02 > *:nth-child(1) .txt strong,
.main-contents #about .contents .content.con-02 > *:nth-child(1) .img-02 {
    display: block;
}
.main-contents #about .contents .content.con-02 > *:nth-child(2) .img-01 {
    opacity: 0;
    transform: translateX(50px);
    &.anim-active {
        opacity: 1;
        transform: translateX(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #about .contents .content.con-02 > *:nth-child(2) .img-02 {
    opacity: 0;
    transform: translateX(50px);
    &.anim-active {
        opacity: 1;
        transform: translateX(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #how-to-join .contents header h1 {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #how-to-join .contents .content ul.list-step li {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #how-to-join .img-01 {
    opacity: 0;
    transform: translateX(50px);
    &.anim-active {
        opacity: 1;
        transform: translateX(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #how-to-play h1 {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #how-to-play .contents h3 {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #how-to-play .contents .con-01 ul li {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #how-to-play .contents .con-02 {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #notes .sec-header h1,
.main-contents #notes .sec-header h3,
.main-contents #notes .sec-header p {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #notes .sec-header h1 {
    display: block;
}
.main-contents #notes .contents .con-01 ul,
.main-contents #notes .link_line {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #story .sec-header h1,
.main-contents #story .contents .con-01 img,
.main-contents #story .contents .con-01 p,
.main-contents #story .contents .con-01 .btn-line {
    opacity: 0;
    transform: translateY(50px);
    &.anim-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }
}
.main-contents #story .sec-header h1 {
    display: block;
}
.main-contents #event {
    opacity: 0;
    &.anim-active {
        opacity: 1;
        transition: all 0.4s ease;
    }
    .contents {
        opacity: 0;
    &.anim-active {
        opacity: 1;
        transition: all 0.4s ease;
    }
    }
}