$pc:767px;
$pcMax:1440px;

// ------------------------------
// まとめてfontを指定する
// ------------------------------

$baseWidth : 375;// 指定されているwidth
@function vw($pixelsVw) {
    @return $pixelsVw / $baseWidth * 100vw;
 }

.heading1{
  font-size: vw(34); // ()の中にその指定pxを入力する
}

.heading-small{
  font-size: vw(20);
}

.heading2{
  font-size: vw(32); 
}

.h-sub{
  font-size: vw(10); 
}

.heading3{
  font-size: vw(23); 
}

.heading4{
  font-size: vw(26); 
}

.nav-text1{
  font-size: vw(8);
}
.nav-text2{
  font-size: vw(16);
}

.text1{
  font-size: vw(14);
}

.text2{
  font-size: vw(18);
}

.text3{
  font-size: vw(14);
}

.text4{
  font-size: vw(18);
}

.text5{
  font-size: vw(14);
}

.text6{
  font-size: vw(18);
}

.text7{
  font-size: vw(25);
}

.text8{
  font-size: vw(14);
}

.text9{
  font-size: vw(32);
}

.text10{
  font-size: vw(24);
}

.text11{
  font-size: vw(46);
}

.text12{
  font-size: vw(22);
}

.text13{
  font-size: vw(22);
}

.text14{
  font-size: vw(14);
}

.text15{
  font-size: vw(12);
}

.text16{
  font-size: vw(26);
}

.text17{
  font-size: vw(22);
}

.text18{
  font-size: vw(24);
}

.footer-nav{
  font-size: vw(14);
}

.footer-copy{
  font-size: vw(8);
}

@media(min-width:($pc)){

    $baseWidth : 1440;// 指定されているwidth
    @function vw($pixelsVw) {
      @return $pixelsVw / $baseWidth * 100vw;
  }

  .heading1{
    font-size: vw(60);
  }

  .heading-small{
    font-size: vw(34);
  }

  .heading2{
    font-size: vw(56); 
  }
  
  .h-sub{
    font-size: vw(16); 
  }

  .heading3{
    font-size: vw(38); 
  }

  .heading4{
    font-size: vw(48); 
  }

  .text1{
    font-size: vw(20);
  }

  .text2{
    font-size: vw(36);
  }

  .text3{
    font-size: vw(27);
  }

  .text4{
    font-size: vw(27);
  }

  .text5{
    font-size: vw(16);
  }

  .text6{
    font-size: vw(18);
  }

  .text7{
    font-size: vw(34);
  }

  .text8{
    font-size: vw(14);
  }

  .text9{
    font-size: vw(34);
  }

  .text10{
    font-size: vw(28);
  }

  .text11{
    font-size: vw(46);
  }

  .text12{
    font-size: vw(24);
  }

  .text13{
    font-size: vw(28);
  }

  .text14{
    font-size: vw(14);
  }

  .text15{
    font-size: vw(16);
  }

  .text16{
    font-size: vw(32);
  }

  .text17{
    font-size: vw(56);
  }

  .text18{
    font-size: vw(32);
  }

  .footer-nav{
    font-size: vw(20);
  }

  .footer-copy{
    font-size: vw(12);
  }
}  

@media(min-width:($pcMax)){

  .heading1{
    font-size: 60px;
  }

  .heading-small{
    font-size: 34px;
  }

  .heading2{
    font-size: 56px; 
  }
  
  .h-sub{
    font-size: 16px; 
  }

  .heading3{
    font-size: 38px; 
  }

  .heading4{
    font-size: 48px; 
  }


  .text1{
    font-size: 20px;
  }

  .text2{
    font-size: 36px;
  }

  .text3{
    font-size: 27px;
  }

  .text4{
    font-size: 27px;
  }

  .text5{
    font-size:16px;
  }

  .text6{
    font-size: 18px;
  }


  .text7{
    font-size: 34px;
  }

  .text8{
    font-size: 14px;
  }

  .text9{
    font-size:34px;
  }

  .text10{
    font-size:28px;
  }

  .text11{
    font-size:52px;
  }

  .text12{
    font-size: 24px;
  }

  .text13{
    font-size: 28px;
  }

  .text14{
    font-size: 14px;
  }

  .text15{
    font-size:16px;
  }

  .text16{
    font-size:32px;
  }

  .text17{
    font-size: 56px;
  }

  .text18{
    font-size: 32px;
  }

  .footer-nav{
    font-size: 20px;
  }

  .footer-copy{
    font-size: 12px;
  }
}
// ------------------------------
// まとめてfontを指定する
// ------------------------------

.pc-none{
  display: block;
}

.pc-block{
  display: none;
}

.float-btn{
  position:fixed;
  bottom: 20%;
  right: 5px;
  width: 21%;
  max-width: 80px;
  z-index: 20;

  & img {
    width: 100%;
  }
}

@media(min-width:($pc)){
  .pc-none{
    display: none;
  }

  .pc-block{
    display: block;
  }

  .float-btn{
    position:fixed;
    bottom: 20%;
    right: 30px;
    width: 21%;
    max-width: 80px;
    z-index: 20;
  
    & img {
      width: 100%;
    }
  }
}

