@charset "UTF-8";
a:hover{
    opacity: 1;
}
.arc_container {
    width: 90%;
    max-width: 1024px;
    margin: 80px auto;
}

.arc_logo {
    display: block;
    width: 480px;
    margin: 0 auto 32px;
}

.arc_title {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

/* グリッドここから */

.arc_lists{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 32px;
    width: 100%;
    max-width: 1375px;
    margin: 16px auto;
}

.arc_item{
    width: 33%;
    max-width: 320px;
    height: 492px;
    padding: 4px;
    background-color: #fff;
    transition: all .3s;
    box-shadow: 4px 4px 0 #0e4362;
    -webkit-box-shadow: 4px 4px 0 #0e4362;
}

.arc_item_link {
    width: 100%;
    height: 100%;
}

.arc_item_img{
    width: 100%;
    height: 436px;
}
.arc_item_title{
    width: 100%;
    height: 48px;
    padding: 4px 0;
    font-size: 24px;
    color: #0e4362;
}

/* モバイルでホバーさせないため */
@media screen and(min-width: 750px) {
    .arc_item:hover{
        box-shadow: none;
        opacity: .8;
        transform: translate(4px, 4px);
    }
  }

@media screen and (max-width: 1156px) {
    .arc_container{
        max-width: 680px;
    }
    .arc_item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .arc_logo {
        width: 320px;
        margin-bottom: 12px;
    }
    .arc_title {
        font-size: 20px;
    }
    .arc_lists{
        max-width: 324px;
        margin-top: 8px;
        gap: 24px;
    }
    .arc_item {
        width: 100%;
    }
}

/* グリッドここまで */